@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: monospace;
}

/*@media (orientation: portrait) {*/
/*    body {*/
/*        transform: rotate(90deg);*/
/*        transform-origin: top left;*/
/*        width: 100vh;*/
/*        height: 100vw;*/
/*        position: absolute;*/
/*        top: 0;*/
/*        left: 0;*/
/*    }*/
/*}*/

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    width: 100%;
    position: absolute;
    top: 0;
    font-family: monospace;
}
.toolbar > div {
    float: left;
    display: inline-block;
    line-height: 36px;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 12px;
}

.button {
    min-width: 40px;
    margin: 10px;
    /*padding: 0 10px;*/
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;
    font-family: monospace;
    font-size: 12px;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}