@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.spin-button {
  background-image: url('/assets/slot-machine/spinbtn.svg');
  background-size: cover;
  background-position: center;
  transition: transform 0.05s ease;
}

/* КНОПКА НАЖАТА */
.spin-button:active {
  background-image: url('/assets/slot-machine/spinbtnpressed.svg');
  transform: scale(0.98);
}

/* КОГДА СПИН ИДЁТ */
.spin-button:disabled {
  background-image: url('/assets/slot-machine/spinbtn.svg');
  cursor: not-allowed;
}
